/*** SITE-WIDE STYLES ***/

h1, h2 {
	font-family: Myriad Pro, Lucida Grande, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	margin-bottom: 40px;
}

h2 {
	font-size: 27px;
}

.back-to-top {
	float: right;
	padding-right: 10px;
}

.green {
	color: green;
}

/*** LAYOUT STYLES ***/

body {
	margin-top: 40px;
	background-image: url('img/tile.png');
	color: #666;
}

header {
	width: 100%;
	background-color: #ccc;
	border-bottom: solid 5px #fff;
	position: relative;
}

footer {
	text-align: center;
	background-color: #fff;
	font-size: 12px;
	padding: 15px 0;
}

.container {
	width: 1000px !important;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

#home > section {
	background-color: #fff;
	padding: 25px 50px;
}

#home > section:nth-child(2n) {
	background-color: #f3f3f3;
}

/* grio map */

#address{
    display: block;
    /*width: 125px;*/
    position: absolute;
    background: #FEFEFE;
    margin-top: 20px;
    padding: 10px 25px 25px !important;
    line-height: 18px;
    font-size: 14px;
    z-index: 200;
    /*left: -25px;*/
}

#address h5{
    font-size: 18px;
    padding-bottom: 16px;
}

#social {
    position:relative;
    width:120px;
    height:30px;
    display:block;
    padding-top: 17px;
    left: -6px;
}

#social > a {
    display: inline-block;
}

#social .icn {
    background: transparent url('img/social_icn.png') no-repeat 0px -26px;
    width:29px;
    height:27px;
    overflow:hidden;
    display:inline-block;
    margin-right:3px;

}

#social .icn:hover {
    background-position: 0px 0px;
}

#social .twitter {
    background-position: -32px -26px;
}

#social .twitter:hover {
    background-position: -32px 0px;
}

#social .flickr {
    background-position: -61px -26px;
}

#social .flickr:hover {
    background-position: -61px 0px;
}

#map_canvas {
	width: 100%;
	height: 375px;
	border-top: solid 4px #fff;
}

/* header slider */

header ul.slides {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0; padding: 0;
}

header ul.slides li {
	top: 0; left: 0;
	width: 100%;
	overflow: hidden;
	display: none;
	position: absolute;
}

header ul.slides li:first-child {
	display: list-item;
}

header ul.slides li.active {
	display: block; 
	position: relative;
}

header ul.slides li img {
	width: 100%;
	max-width: none;
	display: block;
	margin-top: -20px;
}

header .crop li img { 
	width: auto;
}

header ul.pager {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 100;
	height: 40px;
	text-align: center;
}

header ul.pager a, 
header ul.pager li a:hover {
	background-color: transparent;
	border: 0;
	padding: 15px 15px;
}

header ul.pager li a span {
	background-color: #fff;
	border-radius: 12px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	width: 10px; height: 10px;
	box-shadow: 1px 1px 3px #333;
}

header ul.pager li.active a span {
	background-color:#000;
}